<section class="content">
  <div class="block-content">
      <h3 class="block-title">Contacto</h3>
      <div class="row">


          <div class="col-md-5 offset-md-1">
              <div class="contact-content">
                  <div class="contact-icon">
                      <i class="ion-ios-location-outline"></i>
                  </div>
                  <div class="contact-details">
                      <h5>Dirección</h5>
                      <p>Florida, Valle del Cauca. Colombia</p>
                  </div>
              </div>
              <div class="contact-content">
                  <div class="contact-icon">
                      <i class="ion-ios-telephone-outline"></i>
                  </div>
                  <div class="contact-details">
                      <h5>Telefono</h5>
                      <p>+57 318 830 4031</p>
                  </div>
              </div>
              <div class="contact-content">
                  <div class="contact-icon">
                      <i class="ion-ios-email-outline"></i>
                  </div>
                  <div class="contact-details">
                      <h5>Correo</h5>
                      <p>rrchica@misena.edu.co</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
