<section class="content">
  <div class="block-content">
      <h3 class="block-title">Portafolio</h3>
      <div class="row">
          <div class="col-md-12">

              <!-- <div class="portfolio-container row isotope" id="portfolio-container"> -->
                <div class="portfolio-container row isotope" >
                  <!-- WORK 1 START -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                      <a target="_blank" href="https://github.com/rafaelchp/apuestas.git">
                          <div class="portfolio-column">
                              <div class="portfolio-hover">
                                  <div class="portfolio-content">
                                      <h2>GAMING</h2>
                                      <p>Juego de Azar</p>
                                      <hr>

                                      <p>View details.</p>
                                  </div>
                                  <div class="portfolio-overlay"></div>
                              </div>
                              <img src="https://us.123rf.com/450wm/vasilyrosca/vasilyrosca1612/vasilyrosca161200364/68591329-n%C3%BAmeros-del-bingo-bolas-de-la-loter%C3%ADa-de-fondo-bolas-de-juego-de-loter%C3%ADa-ganador-de-loter%C3%ADa-bolas-qu.jpg" alt="">
                          </div>
                      </a>
                  </div>
                  <!-- WORK 1 END -->
                  <!-- WORK 2 START -->

                  <!-- WORK 2 END -->
                  <!-- WORK 3 START -->

                  <!-- WORK 3 END -->
                  <!-- WORK 4 START -->

                  <!-- WORK 4 END -->
                  <!-- WORK 5 START -->

                  <!-- WORK 5 END -->
                  <!-- WORK 6 START -->

                  <!-- WORK 6 END -->
                  <!-- WORK 7 START -->

                  <!-- WORK 7 END -->
                  <!-- WORK 8 START -->

                  <!-- WORK 8 END -->
                  <!-- WORK 9 START -->

                  <!-- WORK 9 END -->
              </div>
          </div>
      </div>
  </div>
  <div class="row text-center">
      <div class="col-md-12 btn-email">
          <a class="btn lowercase" href="https://github.com/rafaelchp">https://github.com/rafaelchp</a>
      </div>
  </div>
</section>
